* {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.header {
  font-family: 'Rock Salt', cursive;
  text-shadow: 1px 1px black;
}

.fa {
    text-shadow: 1px 1px black;
}

.main {
  border-radius: 10px;
  position:relative;
  margin:8% auto auto auto;
  width:450px;
  padding:40px 50px;
  display:table;
  background-color: #BAE4F0;
}

#random_quote {
   margin-top: 10px;
}

footer {
  margin-top: 15px;
  margin-bottom: 15px;
}
